
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

.sample_container {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.sample_text {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}
input {
  margin-left:70px;
}